.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.form{
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}
.form-title{
    text-align: center;
    margin-bottom: 32px;
}
.form-group{
    position: relative;
    margin-bottom: 32px;
}
.form-label{
    position: absolute;
    top: 0;
    z-index: -1;
    color: rebeccapurple;
    transition: 0.3s;
}
.form-input{
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.form-input:focus{
    border-bottom: 1px solid rebeccapurple;
}
.form-button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: darkorchid;
    cursor: pointer;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown)~.form-label{
    top: -18px;
    color: #ccc;
}