<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tender.by</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-edu-meeting.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/loginForm.css}" />
</head>
<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        Тендер.by
                    </a>
                    <ul class="nav">
                        <li><a href="#top" class="active">Главная</a></li>
                        <li><a href="/home">Тендеры</a></li>
                        <li><a href="/addTender">Добавить тендер</a></li>
                        <li><a href="/account">Аккаунт</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="main-page">
    <div class="login">
        <form class="form" th:action="@{/logout}" method="post">
            <h1 class="form-title">Аккаунт</h1>
            <button type="submit" class="form-button">Выйти</button>
        </form>
    </div>
</div>
</body>
</html>