<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tender.by</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-edu-meeting.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/addTender.css}" />
</head>
<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        Тендер.by
                    </a>
                    <ul class="nav">
                        <li><a href="#top" class="active">Главная</a></li>
                        <li><a href="/home">Тендеры</a></li>
                        <li><a href="/addTender">Добавить тендер</a></li>
                        <li><a href="/account">Аккаунт</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>
<!-- любой текст
<nav>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</nav>
-->
<div class="main-page">
    <div class="addTender">
        <form action="/addTender" method="post" class="form">
            <h1 class="form-title">Добавление тендера</h1>
            <div class="form-group">
                <input type="text" name="name" class="form-input" placeholder=" ">
                <label class="form-label">Название тендера</label>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-input" placeholder=" "></textarea>
                <label class="form-label">Описание тендера</label>
            </div>
            <div class="form-group">
                <input type="number" name="term" class="form-input" placeholder=" " min="1">
                <label class="form-label">Длительность тендера (дней)</label>
            </div>
            <div class="form-group">
                <input type="number" name="price" class="form-input" placeholder=" " min="1">
                <label class="form-label">Стоимость (бел. руб)</label>
            </div>
            <button type="submit" class="form-button">Добавить тендер</button>
        </form>
    </div>
</div>
</body>
</html>