<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tender.by</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-edu-meeting.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tenderList.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/mainBlocks.css}" />
</head>
<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        Тендер.by
                    </a>
                    <ul class="nav">
                        <li><a href="#top" class="active">Главная</a></li>
                        <li><a href="/home">Тендеры</a></li>
                        <li><a href="/addTender">Добавить тендер</a></li>
                        <li><a href="/account">Аккаунт</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>
<div class="main-container">
    <div class="container-div" th:each="el:${tender}">
        <form  method="post" class="form">
            <div class="form-group">
                <label class="form-label">Идентификатор: </label>
                <label class="form-info" th:text="${el.id}"></label>
            </div>
            <div class="form-group">
                <label class="form-label">Название тендера: </label>
                <label class="form-info" th:text="${el.name}"></label>
            </div>
            <div class="form-group">
                <label class="form-label">Описание тендера: </label>
                <label class="form-info" th:text="${el.description}"></label>
            </div>
            <div class="form-group">
                <label class="form-label">Длительность тендера (деней): </label>
                <label class="form-info" th:text="${el.term}"></label>
            </div>
            <div class="form-group">
                <label class="form-label">Стоимость тендера (Бел. руб): </label>
                <label class="form-info" th:text="${el.price}"></label>
            </div>
            <table>
                <tr>
                    <td>Индентификатор</td>
                    <td>Описание</td>
                    <td>Цена</td>
                    <td>Срок</td>
                </tr>
                <div th:each="els:${members}">
                    <tr>
                        <td th:text="${els.userID}"></td>
                        <td th:text="${els.offerDescription}"></td>
                        <td th:text="${els.offerPrice}"></td>
                        <td th:text="${els.term}"></td>
                    </tr>
                </div>
            </table>
            <label class="form-label">Победитель: </label>
            <table>
                <tr>
                    <td>Индентификатор</td>
                    <td>Описание</td>
                    <td>Цена</td>
                    <td>Срок</td>
                </tr>
                <div th:each="els:${winner}">
                    <tr>
                        <td th:text="${els.userID}"></td>
                        <td th:text="${els.offerDescription}"></td>
                        <td th:text="${els.offerPrice}"></td>
                        <td th:text="${els.term}"></td>
                    </tr>
                </div>
            </table>
            <label class="form-label">Контакты победителя: </label>
            <table>
                <tr>
                    <td>Компания</td>
                    <td>Телефон</td>
                    <td>Адрес</td>
                </tr>
                <div th:each="elss:${winnerData}">
                    <tr>
                        <td th:text="${elss.name}"></td>
                        <td th:text="${elss.phone}"></td>
                        <td th:text="${elss.address}"></td>
                    </tr>
                </div>
            </table>
            <div th:if="${winnerData == null}" class="container-div">
                <a class="custom-form-button" th:href="'/myFinish/startAgain/'+${el.id}"><div class="custom-form-button-text">Провести тендер еще раз</div></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>