<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tender.by</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-edu-meeting.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tenderList.css}" />
</head>
<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        Тендер.by
                    </a>
                    <ul class="nav">
                        <li><a href="#top" class="active">Главная</a></li>
                        <li><a href="/home">Тендеры</a></li>
                        <li><a href="/addTender">Добавить тендер</a></li>
                        <li><a href="/account">Аккаунт</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>
<a href="/home">Все тендеры</a>
<a href="/myTenders">Мои тендеры</a>
<a href="/myOffers">Тендеры в которых я участвую</a>
<a href="/myFinish">Мои закрытые тендеры</a>
<div class="showTender" th:each="el:${tenders}">
    <form  method="post" class="form">
        <div class="form-group">
            <label class="form-label">Идентификатор: </label>
            <label class="form-info" th:text="${el.id}"></label>
        </div>
        <div class="form-group">
            <label class="form-label">Название тендера: </label>
            <label class="form-info" th:text="${el.name}"></label>
        </div>
        <div class="form-group">
            <label class="form-label">Описание тендера: </label>
            <label class="form-info" th:text="${el.description}"></label>
        </div>
        <div class="form-group">
            <label class="form-label">Длительность тендера (деней): </label>
            <label class="form-info" th:text="${el.term}"></label>
        </div>
        <div class="form-group">
            <label class="form-label">Стоимость тендера (Бел. руб): </label>
            <label class="form-info" th:text="${el.price}"></label>
        </div>
        <a class="form-button" th:href="'/myFinish/'+${el.id}">Подробнее</a>
    </form>
</div>
</body>
</html>