<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Tender.by</title>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-edu-meeting.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/loginForm.css}" />
</head>
<body>
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="index.html" class="logo">
            Тендер.by
          </a>
          <ul class="nav">
            <li><a href="#top" class="active">Главная</a></li>
            <li><a href="/home">Тендеры</a></li>
            <li><a href="/addTender">Добавить тендер</a></li>
            <li><a href="/account">Аккаунт</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="main-page">
    <div th:if="${passNotEquals}">
      <h1 class="form-title">Пароли не совпадают!</h1>
    </div>
    <div th:if="${userExist}">
      <h1 class="form-title">ПОльзователь с таким логином уже существует!</h1>
    </div>
    <div class="login">
      <form class="form" action="/registration" method="post">
        <h1 class="form-title">Регистрация</h1>
        <div class="form-group">
          <input class="form-input" required placeholder=" " name="login">
          <label class="form-label">Логин</label>
        </div>
        <div class="form-group">
          <input class="form-input" required placeholder=" " name="password">
          <label class="form-label">Пароль</label>
        </div>
        <div class="form-group">
          <input class="form-input" required placeholder=" " name="passwordSecond">
          <label class="form-label">Повторите пароль</label>
        </div>
        <div class="form-group">
          <input type="text" name="name" class="form-input" required placeholder=" ">
          <label class="form-label">Название организации:</label>
        </div>
        <div class="form-group">
          <input type="text" name="phone" class="form-input" required placeholder=" ">
          <label class="form-label">Телефон:</label>
        </div>
        <div class="form-group">
          <input type="text" name="address" class="form-input" required placeholder=" ">
          <label class="form-label">Адрес:</label>
        </div>
        <button type="submit" class="form-button">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</body>
</html>